<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>
<body>
    <h1>Editar Perfil</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cambios</button>
        <button onclick="window.location.href = '{% url 'cuenta_admin' %}';" style="background-color: #007BFF; margin-top: 10px;">Regresar</button>
    </form>
</body>
</html>